<h2 class="text-2xl font-bold mb-6 text-sec-color">Dashboard Overview</h2>

<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div class="bg-white shadow rounded-xl p-6 border-r-4 border-main-color">
        <p class="text-gray-600">Total Products</p>
        <p class="text-3xl font-bold text-sec-color">{{productsNum()}}</p>
    </div>

    <div class="bg-white shadow rounded-xl p-6 border-r-4 border-main-color">
        <p class="text-gray-600">Total Categories</p>
        <p class="text-3xl font-bold text-sec-color">{{categoriesNum()}}</p>
    </div>

    <div class="bg-white shadow rounded-xl p-6 border-r-4 border-main-color">
        <p class="text-gray-600">Total Users</p>
        <p class="text-3xl font-bold text-sec-color">{{usersNum()}}</p>
    </div>
</div>