#notfound {
    background-image: url("/image/ChatGPT\ Image\ May\ 18\,\ 2025\,\ 08_07_53\ AM.png");
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100dvh;
    width: 100%;
}